# Opcion recomendada para Supabase (Connection String)
DATABASE_URL=postgresql://postgres.[PROJECT_REF]:[TU_PASSWORD_URL_ENCODED]@aws-1-us-east-2.pooler.supabase.com:5432/postgres?sslmode=require

# Opcion alternativa por campos individuales
# DB_HOST=aws-1-us-east-2.pooler.supabase.com
# DB_PORT=5432
# DB_USER=postgres.[PROJECT_REF]
# DB_PASSWORD=[TU_PASSWORD]
# DB_NAME=postgres
# DB_SSLMODE=require
